@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
@-webkit-keyframes popInFromSmall {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes popInFromSmall {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes popOutFromBig {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes popOutFromBig {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #ecf2f8;
}

.container {
  padding: 5em 1.5em;
}

.card {
  background-color: white;
  border-radius: 15px;
}

.card .card-img {
  width: 100%;
}

.card .card-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  border-radius: 15px 15px 0 0;
}

.card .card-content {
  padding: 2em 2em 1em;
}

.card .card-content .card-title {
  color: #48556a;
  font-size: 1rem;
  margin-bottom: 1em;
}

.card .card-content .card-subtitle {
  font-size: 0.83rem;
}

.card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 1em 2em 1em 2em;
}

.card .card-footer .card-avatar img {
  border-radius: 50%;
  width: 40px;
}

.card .card-footer .card-footer-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 1em;
}

.card .card-footer .card-footer-text .username {
  color: #48556a;
  font-weight: 700;
}

.card .card-footer .card-footer-text .date {
  color: #9eafc2;
}

.card .card-footer .share-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ecf2f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.card .card-footer .share-icon svg {
  width: 1rem;
  height: 1rem;
}

.card .card-footer .card-share {
  display: none;
  position: absolute;
  background-color: #6d7f97;
  width: calc(100% - 4em);
  padding: 2em;
  border-radius: 0 0 15px 15px;
  bottom: 0;
  left: 0;
  letter-spacing: 0.4em;
  color: #9eafc2;
  font-size: 0.9rem;
  -webkit-animation: 0.25s ease-in 0s 1 popInFromSmall;
          animation: 0.25s ease-in 0s 1 popInFromSmall;
}

.card .card-footer .card-share .icon-group {
  padding-left: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35px 35px 35px;
      grid-template-columns: 35px 35px 35px;
}

.card .card-footer .card-share .icon-group img {
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.card .card-footer .card-share .icon-group img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.card .card-footer.share-active .card-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card-footer.share-active .share-icon {
  background-color: #9eafc2;
}

.card .card-footer.share-active .share-icon svg path {
  fill: white;
}
/*# sourceMappingURL=index.css.map */