@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
$DarkGray: hsl(217, 19%, 35%);
$DesaturatedBlue: hsl(214, 17%, 51%);
$GrayishBlue: hsl(212, 23%, 69%);
$LightGrayishBlue: hsl(210, 46%, 95%);

@keyframes popInFromSmall {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes popOutFromBig {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}
body {
  background-color: $LightGrayishBlue;
}
.container {
  padding: 5em 1.5em;
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
  }
}
@import "card";
